@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar,body{
    background: #FFFFE3; 
}
.header_text{
    color: #1E1F38;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.heading{
    max-width: 365px;
    word-spacing: 2px;
    text-align: left;
}